<div class="booking-calendar">

	<!-- Sunday to Saturday //-->
	<div class="booking-calendar__weekdays">
		<div class="calendar-date__weekday" ng-repeat="date in bookingCalendarCtrl.dates.current_dates">{{date | amDateFormat: 'dd' | limitTo: 1}}</div>
	</div>


	<!-- day of the month //-->
	<div class="booking-calendar__monthdays"
		 ng-class="bookingCalendarCtrl.animate">

		<!-- days on the screen //-->	
		<div class="monthdays__current" ng-style="{'-webkit-transform': 'translate3d(' + bookingCalendarCtrl.translate + 'px,0,0)'};">
			<div class="calendar-date__monthday" 
				 ng-repeat="date in bookingCalendarCtrl.dates.current_dates"
				 ng-class="bookingCalendarCtrl.getDateClass(date)"
				 ng-click="bookingCalendarCtrl.selectDate(date)">
					 <span>{{date | amDateFormat: 'D'}}</span>
			</div>
		</div>
	
		<!-- days to the left of the screen //-->
		<div class="monthdays__previous" ng-style="{'-webkit-transform': 'translate3d(' + bookingCalendarCtrl.translate + 'px,0,0)'};">
			<div class="calendar-date__monthday" 
				 ng-repeat="date in bookingCalendarCtrl.dates.previous_dates"
				 ng-class="bookingCalendarCtrl.getDateClass(date)">
					 <span>{{date | amDateFormat: 'D'}}</span>
			</div>
		</div>
		
		<!-- days to the right of the screen //-->
		<div class="monthdays__next" ng-style="{'-webkit-transform': 'translate3d(' + bookingCalendarCtrl.translate + 'px,0,0)'};">
			<div class="calendar-date__monthday" 
				 ng-repeat="date in bookingCalendarCtrl.dates.future_dates"
				 ng-class="bookingCalendarCtrl.getDateClass(date)">
					 <span>{{date | amDateFormat: 'D'}}</span>
			</div>
		</div>
	</div>

	<!-- formatted selected date //-->
	<div class="booking-calendar__current">
		{{ bookingCalendarCtrl.selected| amDateFormat: 'dddd D MMMM YYYY' }}
	</div>
	
</div>