<div style="margin: 20px 0">
	<div ng-repeat="row in bookingGridCtrl.rows" style="position: relative; display: block">
		<div ng-if="row.displayTime" style="height: 25px; overflow: hidden">
			<div style="float: left; font-size: 12px; margin-left: 2%; text-align: right; width: 10%">{{row.time | amDateFormat: 'hA'}}</div>
			<div style="position: absolute; right: 5%; border-top: 1px solid #999; margin-top: 7px; margin-left: 5%; width: 80%"></div>
		</div>
		<div ng-if="!row.displayTime" style="height: 25px; overflow: hidden">
			<div style="border-top: 1px dotted #999; position: absolute; right: 5%;  margin-top: 7px; width: 80%"></div>
		</div>
	</div>
</div>