<div class="booking-listing" ng-class="bookingListingCtrl.animate">

	<div class="listing__current" 
		 ng-style="{'-webkit-transform': 'translate3d(' + bookingListingCtrl.translate + 'px,0,0)'};">
		<booking-daily-grid data-start-time="6" data-end-time="18" data-step="30"></booking-daily-grid>
	</div>
	<div class="listing__previous" 
		 ng-style="{'-webkit-transform': 'translate3d(' + bookingListingCtrl.translate + 'px,0,0)'};">
		<booking-daily-grid data-start-time="6" data-end-time="18" data-step="30"></booking-daily-grid>
	</div>
	<div class="listing__next" 
		 ng-style="{'-webkit-transform': 'translate3d(' + bookingListingCtrl.translate + 'px,0,0)'};">
		<booking-daily-grid data-start-time="6" data-end-time="18" data-step="30"></booking-daily-grid>
	</div>
	
	<!-- <div class="booking-listing__bookings">
		<booking-daily-item 
			ng-repeat="booking in bookingListing.bookings"
			data-booking-id="{{booking.id}}" 
			data-booking="{{booking}}">
		</booking-daily-item>
	</div> -->

</div>