//@import "bower_components/bourbon/dist/_bourbon";
//@import "bower_components/neat/app/assets/stylesheets/_neat";
@import "bourbon";
@import "neat";
// /@import "bower_components/susy/sass/_susy.scss";

body {
	background: #000;
	color: #fff;
	font-family: Arial;
	margin: 0;
}

.booking {
	background: #fff;
	display: block;
	height: 100px;
	padding-top: 100px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	//transition-duration: 0.1s;

	&:active {
		background: #f00; 
	}
}

.header {
	//display: none;
	background: #fafafa;
	color: #fff;
	padding: 5px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1;
}

.main {
	//background: #fff;
	padding-top: 40px;
}

.main-content {
	overflow-x: hidden;
	position: relative;
}

.main-header {
	background: #000;
	padding: 4px 0 10px;
	position: fixed;
	top: 28px;
	z-index: 1;	
}

.booking-calendar {
	@include outer-container;
	$grid-columns: 7;

	color: #fafafa;
	text-align: center;
	
}

.booking-calendar__current {
	font-size: 13px;
	margin: 5px 0 0;
}

.booking-calendar__weekdays,
.monthdays__current,
.monthdays__previous,
.monthdays__next {
	@include span-columns(7);
	@include row(table);
}

	.booking-calendar__monthdays {
		overflow: hidden;
		position: relative;;
		width: 100%;
	}

	.monthdays__previous {
		left: -100%;
		position: absolute;
	}

	.monthdays__next {
		left: 100%;
		position: absolute;
	}

	.calendar-date__weekday,
	.calendar-date__monthday {
		@include span-columns(1);
		@include pad();
		//text-align: center;
	}

		.calendar-date__weekday {
			font-size: 11px;
			margin: 5px 0 8px;
		}

		.calendar-date__monthday {
			padding-top: 0;

			span {
				display: inline-block;
				font-size: 18px;
				font-weight: bold;
				height: 30px;
				line-height: 30px;
				text-align: center;
				width: 30px;
				//padding: 5px 6px;
			}

			&.active span {
				background: #666;
				border-radius: 15px;
			}

			&.today span {
				color: #ff6600;
			}

			&.today.active span {
				background: #ff6600;
				color: #fff;
			}
		}


.animate {
	//transform: translate3d(0, 0, 0);
	transition-duration: 0.1s;
}

	.animate-slide-left {
		.monthdays__current, .monthdays__previous, .monthdays__next {
			-webkit-transform: translate3d(-100%, 0, 0) !important;
			-webkit-transition-duration: 0.5s;
		}
	}

	.animate-slide-right {
		.monthdays__current, .monthdays__previous, .monthdays__next {
			-webkit-transform: translate3d(100%, 0, 0) !important;
			-webkit-transition-duration: 0.5s;
		}
	}

	.animate-slide-left {
		.listing__current, .listing__previous, .listing__next {
			-webkit-transform: translate3d(-100%, 0, 0) !important;
			-webkit-transition-duration: 0.5s;
		}
	}

	.animate-slide-right {
		.listing__current, .listing__previous, .listing__next {
			-webkit-transform: translate3d(100%, 0, 0) !important;
			-webkit-transition-duration: 0.5s;
		}
	}



.booking-listing {
	color: #fff;
	margin-top: 110px;
}

	.listing__previous, .listing__next {
		left: -100%;
		position: absolute;
		top: 90px;
		width: 100%;
	}

	.listing__next {
		left: 100%;

	}